@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p></p>Este site foi construido por <a href="https://www.linkedin.com/in/leonardo-lima-91a309172">Leonardo Lima Pontes</a>.</p>
    <p>Como uma forma de aprendizado do framework ASP .NET Core MVC .NET 5</p>
    <p>Finalizando para fins de estudo em 02/08/2021</p>
    <p>Obrigado :)</p>
</div>
